$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$terteary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5rem;
$quaternion-color: #fa9500;

@mixin flexCenter($direction, $content, $aling) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $aling;
}

@mixin buttonStyle {
  background: none;
  border-style: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: $primary-color;
  font-family: $font-stack;
}

nav {
  width: auto;
  @include flexCenter(row, space-between, center);
  color: $primary-text-color;
  padding: 15px;
  p {
    font-size: $paragraph-size;
    padding-left: 30px;
  }
  .icons {
    display: flex;
    gap: 15px;
    button {
      @include buttonStyle();
    }
  }
}

article {
  color: $primary-text-color;
  @include flexCenter(row, space-between, center);
  width: auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 70px;
  .impact-section {
    @include flexCenter(column, space-evenly, flex-start);
    padding-top: 50px;
    gap: 25px;
  }
  h1 {
    font-size: 6rem;
    padding: 0px;
    margin: 0;
  }
  p {
    font-size: 2rem;
  }

  button {
    width: 12vw;
    padding: 20px;
    background-color: $quaternion-color;
    border-style: none;
    border-radius: 35px;
    color: white;
    font-size: 1.1rem;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    width: 25vw;
    border-radius: 19px;
  }
}

section {
  width: auto;
  height: auto;
  padding: 60px;
  h2 {
    color: $primary-text-color;
    font-size: 3rem;
  }
  .healthcare {
    padding-bottom: 60px;

    h2 {
      font-weight: 400;
      padding-bottom: 60px;
    }
    .card-section {
      width: auto;
      height: auto;
      @include flexCenter(row, space-evenly, center);
      flex-wrap: wrap;
      column-gap: 200px;
      row-gap: 80px;
    }

    .product-card {
      width: 15vw;
      height: 55vh;
      background-color: $secondary-color;
      color: $primary-text-color;
      padding: 11px 18px;
      border-radius: 8px;

      .icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 12px;

        svg {
          width: 28px;
          height: 28px;
        }
      }

      .product-image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 15vw;
          height: 35vh;
          object-fit: cover;
          border-radius: 6px;
        }
      }
    }
  }
  .furniture {
    @extend .healthcare;
    .product-card {
      background-color: $terteary-color;
      color: white;
    }
  }
}

.about-us {
  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }
  .mission-section {
    @include flexCenter(row, space-evenly, center);
    padding-bottom: 60px;
    .earth {
      $text-color: #e86424;
      width: 30vw;
      display: flex;
      gap: 30px;
      color: $text-color;
      img {
        object-fit: contain;
      }
      p {
        text-align: center;
        font-size: $paragraph-size;
        margin: auto 0;
      }
    }
  }
  .innovation {
    @extend .earth;
  }
}

.gallery {
  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }
  .gallery-images {
    @include flexCenter(row, space-between, center);
    img {
      width: 28vw;
      height: 45vh;
      object-fit: cover;
      object-position: 5px 35%;
      border-radius: 20px;
      padding-bottom: 60px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.location {
  $text-color: #e86424;
  color: $text-color;
  h2 {
    padding-bottom: 60px;
  }
  .map {
    @include flexCenter(row, center, center);
    padding-bottom: 50px;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

footer {
  background-color: $quaternion-color;
  width: auto;
  height: auto;
  padding: 40px 0px;
  color: white;
  h3,
  p {
    font-size: 1rem;
  }
  .social-media {
    @include flexCenter(rew, center, center);
    gap: 20px;
  }
}
